*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{
     font-size: 62.5%;
}
body {
     font-family: 'Arial', sans-serif;
     background-color: #f4f4f4;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
}

form {
     background-color: #fff;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     max-width: 400px;
     width: 100%;
}

h2 {
     text-align: center;
     color: #333;
     margin-bottom: 20px;
     font-size: 2.5rem;
}

label {
     font-size: 1.6rem;
     display: block;
     margin: 10px 0 5px;
     color: #555;
}

input {
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;
     box-sizing: border-box;
     border: 1px solid #ccc;
     border-radius: 4px;
}

button {
     font-size: 1.6rem;
     background-color: #4caf50;
     color: #fff;
     padding: 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     width: 100%;
}

button:hover {
     background-color: #45a049;
}

a{
     margin-top: 10px;
     font-size: 1.2rem;
     color: #333;
     text-decoration: none;
}
p{
     font-size: 1.2rem;
     text-align: center;
     margin: 10px 0 10px 0;
     color: red;
}